@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#highscoreslist{
	padding:2rem;
	margin-bottom: 4rem;
	font-size: 5rem;
	text-transform: capitalize;
	list-style:arabic-indic;
	font-family: inherit;
	  animation: text-focus-in 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}